.superpowers/
.claude/
docs/superpowers/

# Signing
*.jks
*.keystore

# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/libs
/age-engine/build
/age-engine/libs/age-engine-classes.jar
/age-engine/src/main/jniLibs
local.properties
